body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.product{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid grey;
    padding: 8px 8px;
}

.product_title{
    margin: 0;
}

.product_description{
    font-style: italic;
    font-size: 11px;
}

.container{
    background: grey;
    width: 100vw; /* vw - viewport width - 100% * viewport */
    height: 100%; /* vh - viewport height */
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.section{
    background: white;
}

@media (min-width: 760px){
    .section{
        max-width: 75%;
    }
}

.product_image{
    width: 128px;
    height: 128px; 
}

.product_info{
    margin-left: 8px;
}